.appBody {
  flex: 75vh;
  margin-top: 1vh;
}

.indexContainer {
  display: flex;
  justify-content: space-around;
  height: 65vh;
}

.placeholder {
  height: inherit;
  background-color: white;
  width: 30vw;
}