<component name="ProjectRunConfigurationManager">
    <configuration default="false" name="SpringtestApplication" type="SpringBootApplicationConfigurationType"
                   factoryName="Spring Boot">
        <module name="springtest"/>
        <option name="SPRING_BOOT_MAIN_CLASS" value="com.gn.springtest.SpringtestApplication"/>
        <option name="ALTERNATIVE_JRE_PATH"/>
        <option name="SHORTEN_COMMAND_LINE" value="NONE"/>
        <method v="2">
            <option name="Maven.BeforeRunTask" enabled="true" file="$PROJECT_DIR$/pom.xml" goal="clean"/>
            <option name="Make" enabled="true"/>
            <option name="Maven.BeforeRunTask" enabled="true" file="$PROJECT_DIR$/pom.xml" goal="process-classes"/>
        </method>
    </configuration>
</component>